{% extends 'base.html' %}
{% block title %}登录{% endblock %}
{% block head %}
  <style  type="text/css">
        img {display:block; margin:0 auto; max-width:100%; height:auto;}
        .content{
            border-radius: 7px !important;
            width: 300px;
            margin: 10px auto 10px auto;
            position: center;
        }
    </style>
{% endblock %}

{% block header %}登录

{% endblock %}

{% block content %}
    <img src="{{url_for('.static', filename = 'images/qrcode.jpg', _external = True)}}"></img>
    <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8" style="text-align:center" data-role="content">
        <form  class="form-horizontal" id="login" name="login" method="POST" data-ajax="false" action="{{url_for('.login', request_url=request_url)}}">
        <div class="form-body">
            <div class="form-group">
                <label style="text-align:left" class="control-label" for="account">用户名</label>
                <input class="form-control form-control-solid placeholder-no-fix" type="text" id="account" name="account" placeholder="请输入用户名" /> 
            </div>
            <div class="row form-group">
                <label style="text-align:left" class="control-label" for="password">密码</label>
                <input class="form-control form-control-solid placeholder-no-fix" type="password" id="password" name="password" placeholder="请输入密码" autocomplete="off" />
            </div>
        </div>
        <div class="form-actions">
            <input type="submit" class="form-control btn btn-primary" value="登录"/>
            还没有账号？点击<a href="{{url_for('.register')}}">注册</a>
        </div>
        </form>          
    </div>
    </div>
{% endblock%}
{% block body %}
     
{% endblock %}